Nome: Rebecca Moreira Messias
RA: 186416
Turma Y

# Parte computacional

Importações:

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.interpolate import lagrange

## Item a

Para esse item foi utilizado a função já pronta da biblioteca scipy que calcula o polinômio interpolado pelo método de Lagrange. As variáveis `xExample` e `yExample` são os valores tabelados de x e f(x) usados como exemplo apenas para não ocorrer erro ao rodar no Jupyter.

In [5]:
xExample = np.array([0, 1, 2])
yExample = xExample**3

poly = lagrange(xExample, yExample)

## Item b

## Item c

Utilizaremos a segiunte tabela para o polinômio de 4º grau:

In [6]:
x1 = np.linspace(-1, 1, 5)
y1 = np.exp(-36*(x1**2))

mapping1 = map(lambda yy, ee : [yy, ee], x1, y1)
pd.DataFrame(mapping1, columns=['x','f(x)'])

     x          f(x)
0 -1.0  2.319523e-16
1 -0.5  1.234098e-04
2  0.0  1.000000e+00
3  0.5  1.234098e-04
4  1.0  2.319523e-16

In [7]:
x2 = np.linspace(-1, 1, 9)
y2 = np.exp(-36*(x2**2))

mapping2 = map(lambda yy, ee : [yy, ee], x2, y2)
pd.DataFrame(mapping2, columns=['x','f(x)'])

      x          f(x)
0 -1.00  2.319523e-16
1 -0.75  1.605228e-09
2 -0.50  1.234098e-04
3 -0.25  1.053992e-01
4  0.00  1.000000e+00
5  0.25  1.053992e-01
6  0.50  1.234098e-04
7  0.75  1.605228e-09
8  1.00  2.319523e-16

In [8]:
x3 = np.linspace(-1, 1, 17)
y3 = np.exp(-36*(x3**2))

mapping3 = map(lambda yy, ee : [yy, ee], x3, y3)
pd.DataFrame(mapping3, columns=['x','f(x)'])

        x          f(x)
0  -1.000  2.319523e-16
1  -0.875  1.070923e-12
2  -0.750  1.605228e-09
3  -0.625  7.811489e-07
4  -0.500  1.234098e-04
5  -0.375  6.329715e-03
6  -0.250  1.053992e-01
7  -0.125  5.697828e-01
8   0.000  1.000000e+00
9   0.125  5.697828e-01
10  0.250  1.053992e-01
11  0.375  6.329715e-03
12  0.500  1.234098e-04
13  0.625  7.811489e-07
14  0.750  1.605228e-09
15  0.875  1.070923e-12
16  1.000  2.319523e-16